body {
	padding-top: 50px;
	background-color: 
}

.dark-primary-color    { background: #0288D1 !important; }
.default-primary-color { background: #03A9F4 !important; }
.light-primary-color   { background: #B3E5FC !important; }
.text-primary-color    { color: #FFFFFF !important; }
.accent-color          { background: #FF5722 !important; }
.primary-text-color    { color: #212121 !important; }
.secondary-text-color  { color: #757575 !important; }
.divider-color         { border-color: #BDBDBD !important; }


.notificationModal{
	overflow-y: initial !important
}
.notificationModal .modal-body{
	height: 250px;
	overflow-y: auto;
}